#formularioCadastroBuracos {
    /* border: 1px solid red; */
    padding: 20px;
    padding-bottom: 100px;
}

#formularioCadastroBuracos > .content {
    display: flex;
}

#formularioCadastroBuracos > .content > .area-itens {
    width: 70%;
    padding: 20px;
}

#formularioCadastroBuracos > .content > .area-imagem {
    width: 30%;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formularioCadastroBuracos > .content > .area-imagem .area-foto {
    width: 200px;
    height: 200px;
    border: 1px solid #cacaca;
    background-color: #dadada;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#formularioCadastroBuracos > .content > .area-imagem .area-foto > .icone {
    font-size: 35px;
}

@media (max-width: 1670px) {
    .container {
        max-width: 1670px;
        padding: 0 85px;
    }

    #iptEscolherArquivo {
        scale: .9;
    }
}

@media (max-width: 1250px) {
    #formularioCadastroBuracos > .content > .area-itens {
        width: 60%;
    }
    
    #formularioCadastroBuracos > .content > .area-imagem {
        width: 40%;
    }
}

@media (max-width: 1130px) {
    #formularioCadastroBuracos > .content {
        flex-direction: column-reverse;
    }

    #formularioCadastroBuracos > .content > .area-itens,
    #formularioCadastroBuracos > .content > .area-imagem    
    {
        width: 100%;
    }

    #formularioCadastroBuracos > .content > .area-imagem .area-foto {
        width: 280px;
        height: 280px;
    }
}

@media (max-width: 900px) {
    .container {
        padding: 0 20px;
    }

    .content-title {
        padding-left: 50px;
    }

    #btnVoltarPrincipal {
        top: -4px;
        left: -15px;
    }
}