{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buracômetro</title>

    <!-- Local -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav class="navbar">
        <img src="{% static 'imgs/Nosso buraco.png' %}" alt="Logo do site" class="logo">
        <ul>
            <li><a href="#inicio">Início</a></li>
            <li><a href="#trabalhos">Trabalhos</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#contatos">Contatos</a></li>
        </ul>
    </nav>

    <div class="conteudoNavBar">
        <section id="inicio">
            <h1>Buracos de São Luís:<br> Registre e Transforme</h1>
            <p>Aqui, você pode registrar e acompanhar os<br> buracos nas ruas de São Luís, contribuindo<br> para uma cidade melhor!</p>
            <button class="btn">Comece já!</button>
        </section>
        <section id="trabalhos">
            <h1>Nossos trabalhos</h1>
            <div class="trabalho-container">
                <div class="trabalho-imgs">
                    <img src="{% static 'imgs/trabalho1.avif' %}" alt="trabalho 1">
                </div>

                <div class="trabalho-imgs">
                    <img src="{% static 'imgs/trabalho2.jpg' %}" alt="trabalho 2">
                </div>

                <div class="trabalho-imgs">
                    <img src="{% static 'imgs/trabalho4.png' %}" alt="trabalho 3">
                </div>
            </div>
        </section>
        <section id="sobre">
            <h1>Sobre nós</h1>
            <p>O Buracômetro foi criado para ajudar a identificar e mapear os
                 buracos nas ruas de São Luís. Nosso objetivo é dar visibilidade
                 a esse problema e facilitar a comunicação entre os moradores e
                 as autoridades responsáveis. Acreditamos que, ao registrar
                 esses problemas, podemos incentivar melhorias e contribuir
                 para uma cidade mais segura e acessível para todos.
        </section>
        <section id="contatos">
            <h1>Nossos contatos</h1>
            <p>Entre em contato conosco através dos seguintes canais:</p>
            <div class="contato-info">
                <div class="contato-item">
                    <img src="{% static 'imgs/email.jpg' %}" alt="icone email">
                    <p>Email: contato@buracometro.com</p>
                </div>
                <div class="contato-item">
                    <img src="{% static 'imgs/telefone.png' %}" alt="icone telefone">
                    <p>Telefone: (98) 99999-9999</p>
                </div>
                <div class="contato-item">
                    <img src="{% static 'imgs/mapa.png' %}" alt="icone mapa">
                    <p>Endereço: Rua Exemplo, 123 - São Luís, MA</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>