<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buracômetro</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="navbar">
        <a href="#inicio">Início</a>
        <a href="#sobre">Sobre</a>
        <a href="#contatos">Contatos</a>
    </div>

    <div class="conteudoNavBar">
        <section id="inicio">
            <h1>Buracos de São Luís:<br> Registre e Transforme</h1>
            <p>Aqui, você pode registrar e acompanhar os<br> buracos nas ruas de São Luís, contribuindo para<br> uma cidade melhor!</p>
            <button class="btn">Comece já!</button>
        </section>

    </div>
</body>
</html>